<a href="https://colab.research.google.com/github/FedeleDelvecchio/MLPNS/blob/main/Class/Lez13_13042021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Facciamo un account kaggle.

#Feature engineering.

There is a phase of data science which is feature extraction or feature engineering: portion of the analysis that we did when we fitted a line to out data to porduce a lower dimenisonal representation of the data.

The idea id that we can work with the raw representation of our data, in the sense that are the native feature that I am using. Without standardizing I cannot compare shape, I am only comparing absolute numbers. 

Wikipedia says: Feature engineering is the process of using domain knowledge to 	  extract features from raw data. These features can be used to improve the performance of 	  machine learning algorithms.

**If I wanna study trend I absolutely have to standardize.** In the midterm we used each datapoint as feature, so I am using 60 feature, and I dont like working in high dim feature space. 

Using raw representation has some porblem:

1. scalability: if I am using 60 feature and I have 258 time series is a very complex computational problem, calculating distances...

2. time series may be asynchronous: I can have same behaviour but in different place, so this migh not be caputure using raw native feature, but might be capture using polinomial fit. I may capture that curvature is the same, but happening in different place

**The alternative is choose low dimenisonality representation of the data, which can be anthing. For example take the mean and std. dev. , choosing that based on the specific problem. I can extract statistical quantity, or parametric feature (fit something to data and extract parameter from that) to reduce dimensionality.**
Another technique is the Principle Component Anlaysis (PCA).  

Make sure my lower representation of data preserves the pairwise similarities between the data. The fit does that because if the shape of the time series si similar than the convexity of polinomial I am fitting is similar.

#**SUPERVISE LEARNING**

Now we study the **supervised learning: is what I do if I want to CLASSIFY or PREDICT.**

**In supervise learning you are trying to understand similariry between objects by example. I have data set that is completely observed, so I observed all input and output varibale and I wanna unerstand parents that relate input and output variable, so that I can extend it for object for which I have not observed output variable.**

My target variable (output variable) can be a class (categorical variable, for an image) for example, or it can be a value (temperature of earth). All depends on having a labels, and I have labels for object htat are of the same nature of object I want to predict.

##SVM

**If I have bunch of datapoint: for some of them I have observed 3 feature (x, y and color) and another subsets of datapoint I observe only (x and y). I wanna see if there anythings between x and y that can lead me to decide if the color is more likely ot be blu or yellow, based on the other color observation.**

One method that we are **not** going to explore is the SVM (support vector machine). But let's describe it: I create a plane into an hyperspace. An hyperplane is n-1 dimensional (where n is the dimenison of space). This methods finds the optimal line based on the distance from each one of the point in space. 

I create a curve to separate my space.


#TREE METHODS

https://slides.com/federicabianco/mlpns5

**We do somethings similar to SVM (dividing space and see wether a point fall inside or outside this line that divides the plane), but I am not allow to move diagonally in feature space. I move only parallel to cooridnate with straight line. For every feature I can only establish a acondition that has 2 outcomes: "true or false" for categorical or "bigger or smaller" for numerical varibale. In this way I create a vertical line to separet blu or yellow in x axis, and create another line along y (horizontal line).** 

We are gonna talk a lot about tree methods. It split spaces along each axis separately It seems a downgraded version of SVM: **but there can be cases in wich three methods are better.
The example is if one of my axes is a categorical variable, I cannot create a curve (matematical formula) based on a categorical variable. Say fro example if in one of my axeis I have animal species, unless I do one hot encoding and doing other algorithm. THis because I cannot do math with categorical variable. 

This method allows me to have a hybrid feature space. And since varibale are trated separately I cannot have covariance, and this is a good things!**

#Nearest Neighbors

KNearest Neighbors: it is a flexible method.


I measure distance, so it is defined for numerical varibale, since I can't define distance in categorical spaces like we said, but it's hard to have distance. 

**So I calculate the distance between target point and all point in space. I select the four closest point and predict that the target varibale that I want to predict is the most common variable I found in my Nearest Neighbors. "K" stands for how many neighbour I consider.**

I am gonna appling the prediction based on what is the value for the NN. It's kind of like the rule for supervised learning, but with more complex decision process. 

This methods work very well (gives small error) if the KNN surroud our object.

#lazy learner

1. calculate the distance d to all known objects
(this scales with number of object in training set, so I have to calculate m_object*n_disance*d, where d is the dimesnion fo the distance, i.e. dimenison of feature space --> I have a large computational loss) 
2. select the k closest objects.

3. assign the most common among the k classes

BUT I don't have to do this iteratively, just to assing label to object!
This is a non parametric model. I am defining only the distance but I have to choose only one parameter that is K. This pproduce a stable results. 

I can quantify the error for this model KNN for K that tends to infinity. 

One things that is not good about KNN is that the similarity in feature space reflect hte similarity in label then it is predicted.
This method is poor if training is sparse. And it is poor if there are outliers.

#**Setting up with kaggle**

In [1]:
import pylab as pl
import pandas as pd
import json
import os
%pylab inline

pl.style.use("bmh")

Populating the interactive namespace from numpy and matplotlib

In [2]:
from google.colab import drive

In [3]:
drive.mount("/content/drive")

Mounted at /content/drive

In [20]:
cd drive/MyDrive/MLPNS/

/content/drive/MyDrive/MLPNS

In [21]:
ls

 bootcampNB.ipynb
 busBusses.npy
 busTimeTable.npy
 CEDIT_6_5_Friuli_Italy_1976.cpg
 CEDIT_6_5_Friuli_Italy_1976.dbf
 CEDIT_6_5_Friuli_Italy_1976.prj
 CEDIT_6_5_Friuli_Italy_1976.sbn
 CEDIT_6_5_Friuli_Italy_1976.sbx
 CEDIT_6_5_Friuli_Italy_1976.shp
 CEDIT_6_5_Friuli_Italy_1976.shp.xml
 CEDIT_6_5_Friuli_Italy_1976.shx
'CEDIT_6_5_Friuli_Italy_1976.zip?raw=true'
 country_pop.xls
 demo1.py
 demo2.py
 demo3.py
 e68ceb0a193e4e378b29255b62ab75e0_0.geojson
 flatiron_building_new_york_city-111.jpg
 grb050525A.csv
 healthcare-dataset-stroke-data.csv
 inclassNB2016.ipynb
 inclassNB2017.ipynb
 inclassNB2018.ipynb
 ispalindrome.cpython-37.pyc
 ispalindrome.py
 kaggleHiggs/
 kaggle.json
 kalbar_drone_190113-768x512.jpg
 LoopExercise.ipynb
 LoopExerciseSolution.ipynb
 Mona_Lisa.png
 NYCskyline.jpg
 NYC_Women_s_Resource_Network_Database.csv
 PandasDataWrangling-Chap7.ipynb
 playwPandas.ipynb
 printGoodmorningGoodAfternoon_instructions.py
 printGoodmorningGoodAfternoon.py
 pyboot2020_2.ipynb
 pyboot2020.ipynb
 pyBootParma.ipynb
 readingData.ipynb
 README.md
 spm-20210427T111354Z-001.zip
 stroke-prediction-dataset.zip
'view?usp=sharing'
 ZIP_CODE_040114.dbf
 ZIP_CODE_040114.prj
 ZIP_CODE_040114.sbn
 ZIP_CODE_040114.sbx
 ZIP_CODE_040114.shp
 ZIP_CODE_040114.shp.xml
 ZIP_CODE_040114.shx
 ZIP_CODE_040114.zip
'ZIP_CODE_040114.zip?raw=true'
'ZIP_CODE_040114.zip?raw=true.1'
'ZIP_CODE_040114.zip?raw=true.2'

In [22]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2020.12.5)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

kaggle.json contain my credential about kaggle, stored as the same syntax as pyton dictionary.

In [24]:
 !ls kaggle.json

kaggle.json

now change permission mode on file, so that notebook can acces to .json file

In [28]:
!chmod 600 kaggle.json

In [29]:
envs = json.load(open("kaggle.json", "r"))
os.environ["KAGGLE_USERNAME"] = envs['username']
os.environ["KAGGLE_KEY"] = envs['key']

Now I have access to kaggle. So let's see what are the file tht contain the word "stroke".

In [30]:
!kaggle datasets list -s stroke

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                                            title                                            size  lastUpdated          downloadCount
-------------------------------------------------------------  ----------------------------------------------  -----  -------------------  -------------
fedesoriano/stroke-prediction-dataset                          Stroke Prediction Dataset                        67KB  2021-01-26 19:29:28          27313
mazharkarimi/heart-disease-and-stroke-prevention               Heart Disease and Stroke Prevention               1MB  2018-05-14 10:36:48           7755
google/tinyquickdraw                                           QuickDraw Sketches                               11GB  2018-04-18 19:38:04           3025
valkling/tappy-keystroke-data-with-parkinsons-patients         Tappy Keystroke Data with Parkinson's Patients   96MB  2018-02-04 05:41:47           1032
lirilkumaramal/heart-stroke                                    Heart Stroke                                    560KB  2020-10-26 11:39:50            256
mpwolke/cusersmarildownloadsstrokecsv                          Stroke  Deaths 30 days hospital admission.      633KB  2020-05-03 19:09:31            165
derekdb/toronto-robot-stroke-posture-dataset                   Toronto Rehab Stroke Pose Dataset               113MB  2018-08-27 20:59:52            718
rishidamarla/heart-disease-prediction                          Heart Disease Prediction                          3KB  2020-08-23 01:18:14           1096
robseidl/tennis-atp-tour-australian-open-final-2019            Tennis ATP Tour Australian Open Final 2019       27KB  2019-03-02 20:52:43           1806
carnegiecylab/keystroke-dynamics-benchmark-data-set            Keystroke Dynamics - Benchmark Data Set           1MB  2019-12-03 16:04:59             89
alanchn31/stroke-mortality                                     Stroke Mortality                                  2MB  2020-10-03 03:27:30            117
dileep070/heart-disease-prediction-using-logistic-regression     Logistic regression To predict heart disease   58KB  2019-06-07 06:12:56          11717
ruddfawcett/hanzidb                                            HanziDB                                         246KB  2017-10-03 16:03:59            339
kaitavmehta/facial-droop-and-facial-paralysis-image            Facial_Droop_and_Facial_Paralysis_image          19MB  2019-08-23 17:24:06            104
fedesoriano/hepatitis-c-dataset                                Hepatitis C Prediction Dataset                   15KB  2020-12-21 16:50:55            463
michelheusser/handwritten-digits-and-operators                 Dataset: Handwritten Digits and Operators       205MB  2020-07-13 17:23:23            145
corrphilip/numeral-gestures                                    Numeral Gestures recorded on iOS                 34MB  2017-08-24 16:22:16            358
higgstachyon/kannada-mnist                                     Kannada_MNIST                                    56MB  2019-08-04 00:52:15            793
christofel04/cardiovascular-study-dataset-predict-heart-disea  Cardiovascular Study Dataset                     75KB  2020-09-22 12:24:18            958
fazilbtopal/auto85                                             1985 Automobile Dataset                          11KB  2019-03-18 13:22:11           1825

In [31]:
!kaggle datasets download fedesoriano/stroke-prediction-dataset

stroke-prediction-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [33]:
!unzip stroke-prediction-dataset.zip

Archive:  stroke-prediction-dataset.zip
replace healthcare-dataset-stroke-data.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: healthcare-dataset-stroke-data.csv

In [34]:
ls

 bootcampNB.ipynb
 busBusses.npy
 busTimeTable.npy
 CEDIT_6_5_Friuli_Italy_1976.cpg
 CEDIT_6_5_Friuli_Italy_1976.dbf
 CEDIT_6_5_Friuli_Italy_1976.prj
 CEDIT_6_5_Friuli_Italy_1976.sbn
 CEDIT_6_5_Friuli_Italy_1976.sbx
 CEDIT_6_5_Friuli_Italy_1976.shp
 CEDIT_6_5_Friuli_Italy_1976.shp.xml
 CEDIT_6_5_Friuli_Italy_1976.shx
'CEDIT_6_5_Friuli_Italy_1976.zip?raw=true'
 country_pop.xls
 demo1.py
 demo2.py
 demo3.py
 e68ceb0a193e4e378b29255b62ab75e0_0.geojson
 flatiron_building_new_york_city-111.jpg
 grb050525A.csv
 healthcare-dataset-stroke-data.csv
 inclassNB2016.ipynb
 inclassNB2017.ipynb
 inclassNB2018.ipynb
 ispalindrome.cpython-37.pyc
 ispalindrome.py
 kaggleHiggs/
 kaggle.json
 kalbar_drone_190113-768x512.jpg
 LoopExercise.ipynb
 LoopExerciseSolution.ipynb
 Mona_Lisa.png
 NYCskyline.jpg
 NYC_Women_s_Resource_Network_Database.csv
 PandasDataWrangling-Chap7.ipynb
 playwPandas.ipynb
 printGoodmorningGoodAfternoon_instructions.py
 printGoodmorningGoodAfternoon.py
 pyboot2020_2.ipynb
 pyboot2020.ipynb
 pyBootParma.ipynb
 readingData.ipynb
 README.md
 spm-20210427T111354Z-001.zip
 stroke-prediction-dataset.zip
'view?usp=sharing'
 ZIP_CODE_040114.dbf
 ZIP_CODE_040114.prj
 ZIP_CODE_040114.sbn
 ZIP_CODE_040114.sbx
 ZIP_CODE_040114.shp
 ZIP_CODE_040114.shp.xml
 ZIP_CODE_040114.shx
 ZIP_CODE_040114.zip
'ZIP_CODE_040114.zip?raw=true'
'ZIP_CODE_040114.zip?raw=true.1'
'ZIP_CODE_040114.zip?raw=true.2'

In [ ]:
datain = pd.read_csv("healthcare-dataset-stroke-data.csv")

In [ ]:
datain

         id  gender   age  ...   bmi   smoking_status stroke
0      9046    Male  67.0  ...  36.6  formerly smoked      1
1     51676  Female  61.0  ...   NaN     never smoked      1
2     31112    Male  80.0  ...  32.5     never smoked      1
3     60182  Female  49.0  ...  34.4           smokes      1
4      1665  Female  79.0  ...  24.0     never smoked      1
...     ...     ...   ...  ...   ...              ...    ...
5105  18234  Female  80.0  ...   NaN     never smoked      0
5106  44873  Female  81.0  ...  40.0     never smoked      0
5107  19723  Female  35.0  ...  30.6     never smoked      0
5108  37544    Male  51.0  ...  25.6  formerly smoked      0
5109  44679  Female  44.0  ...  26.2          Unknown      0

[5110 rows x 12 columns]

See the statistical properties of the data. I wanna predict wether a person will have a stroke based on nuemrical value as "age", "hypertenison", "avg_glucose_level", "bmi". We will find an very accurate prediciton, but the prediction will be meaningless, as we will see.

In [ ]:
datain.describe()

                 id          age  ...          bmi       stroke
count   5110.000000  5110.000000  ...  4909.000000  5110.000000
mean   36517.829354    43.226614  ...    28.893237     0.048728
std    21161.721625    22.612647  ...     7.854067     0.215320
min       67.000000     0.080000  ...    10.300000     0.000000
25%    17741.250000    25.000000  ...    23.500000     0.000000
50%    36932.000000    45.000000  ...    28.100000     0.000000
75%    54682.000000    61.000000  ...    33.100000     0.000000
max    72940.000000    82.000000  ...    97.600000     1.000000

[8 rows x 7 columns]

In [ ]:
datain.dtypes

id                     int64
gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [ ]:
strokeInput = datain["age", "hypertenison", "avg_glucose_level", "bmi"]

KeyError: ignored